.catalogo-container {
  width: 100%;
  height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalogo-content{
    width: 100%;
    height:auto;
flex-grow: 1;
background: #ffd900;
  background: linear-gradient(
    180deg,
    rgba(255, 217, 0, 1) 0%,
    rgba(255, 128, 0, 1) 100%);
}