.carrossel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 35vh;
  margin: 0;
}

.carrossel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.botaoEsquerdo,
.botaoDireito {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 30px;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  margin: 0;
}

.botaoEsquerdo {
  left: 0;
}

.botaoDireito {
  right: 0;
}

.botaoEsquerdo:hover,
.botaoDireito:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
