.catalogo-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(40, 40, 40);
}

.catalogo-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  gap: 1rem;
  background-color: rgb(40, 40, 40);
}

.catalogo-filtros {
  display: flex;
  gap: 40px;
}

.catalogo-body {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 85%;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  gap: 10px;
}

.catalogo-filtros select {
  border: none;
  width: 200px;
  padding: 12px;
  border-radius: 20px;
  font-size: 20px;
}

.catalogo-produtos {
  padding-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  height: 500px;
  grid-template-columns: auto auto auto;
  width: 100vw;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* overflow-y: auto; */
  gap: 20px;
}
.catalogo-produtos::-webkit-scrollbar {
  width: 6px;
}

.catalogo-produtos::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.catalogo-botao-cadastro {
  border: none;
  width: 200px;
  padding: 12px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}
