.LandingPage-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 40, 40);
  color: white;
  font-size: 2rem;
}

.LandingPage-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 55%;
  height: auto;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.LandingPage-content button {
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  border: none;
  background-color: rgb(235, 178, 57);
  font-weight: bold;
}

.LandingPage-content button:hover {
  background-color: rgb(230, 182, 78);
  transition: 300ms ease-in;
  cursor: pointer;
}
