.container-login {
  display: flex;
  height: 100%;
  width: 100%;
}

.texto-parte-amarelo-login {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffd900;
  background: linear-gradient(
    219deg,
    rgba(255, 217, 0, 1) 6%,
    rgba(255, 128, 0, 1) 100%
  );
}
.texto-parte-amarelo-login svg {
  position: absolute;
  z-index: 0;
  color: #ffff00;
  opacity: 0.3;
  pointer-events: none;
}

.texto-parte-amarelo-login h1 {
  color: #000000;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
  justify-content: center;
  z-index: 1;
}

.Formulario-login {
  flex: 0.6;
  padding: 1rem;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.Formulario-login-arrow-back {
  position: absolute; 
  top: 25px;         
  left: 20px;         
  font-size: 2em;     
  color: white;       
  cursor: pointer;     
  z-index: 10;        
}

.Formulario-login-arrow-back:hover {
  color: #cbc4c4;      
}

.Formulario-login h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
  color: white;
  text-align: center;
  font-weight: bold;
}

.login-label {
  font-weight: bold;
  color: white;
  width: 100%;
  max-width: 400px;
}

.login-input,
.senhaLogin-input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 400px;
  background-color: #f9f7f7;
  color: black;
}

.botao-entrar {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0.8rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  font-size: 24px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  transition: background-color 0.3s;
}

.botao-entrar:hover {
  background-color: #1e1d1d;
}

.possuiContaLogin {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.2rem;
  cursor: pointer;
}

.BotaoCustomizado {
  margin: 1rem;
  text-align: center;
}

.erro-mensagem {
  color: red;
  background-color: #ffe5e5;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  font-weight: bold;
}
