.container-login {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.formulario-login-container {
  flex-grow: 1;
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(255, 212, 69);
  box-shadow: 0px 0px 10px rgb(255, 212, 69);
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 2rem;
  width: 400px;
}

.formulario-login h2 {
  font-size: 2rem;
  margin: 0;
  color: white;
  text-align: center;
  font-weight: bold;
}
.formulario-login small {
  font-size: 1rem;
  color: rgb(185, 185, 185);
  margin-top: 0.3rem;
  margin-bottom: 3rem;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-label {
  font-weight: bold;
  color: white;
  width: 100%;
  max-width: 400px;
  margin-bottom: 0.5rem;
}

.login-input,
.senhaLogin-input {
  padding: 0.8rem;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 600px;
  background-color: rgb(60, 60, 60);
  color: rgb(235, 235, 235);
}

.botao-entrar {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0.8rem;
  background-color: rgb(255, 212, 69);
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  font-size: 24px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  transition: background-color 0.3s;
}

.botao-entrar:hover {
  background-color: #1e1d1d;
}

.possuiContaLogin {
  text-align: center;
  color: rgb(235, 235, 235);
  font-size: 1rem;
  margin-top: 0.2rem;
}

.possuiContaLogin span {
  color: rgb(255, 212, 69);
  font-weight: bolder;
  cursor: pointer;
}

.BotaoCustomizado {
  margin: 1rem;
  text-align: center;
}

.erro-mensagem {
  color: red;
  background-color: #ffe5e5;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  font-weight: bold;
}

.modal-fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-conteudo {
  background: #2e2e2e;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  border: 2px solid rgb(255, 212, 69);
  box-shadow: 0 0 10px rgb(255, 212, 69);
  color: white;
}

.modal-botao {
  margin-top: 1.5rem;
  background-color: rgb(255, 212, 69);
  color: black;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.modal-botao:hover {
  background-color: #1e1d1d;
  color: white;
}
